:root {
  --white:#ffffff;
  --black:#000000;
  --chat-bg:#edf0f5;
  --chat-you:#d0d3e3;
  --icon-primary:#9da5b0;
  --icon-primary-hover:#7f858e;
  --text:#2c3550;
  --text-secondary:#777d8e;
  --borders:#e9eaec;
  --active-tab:#00a389;
  --active-tab-secondary:#e0f4f1;
  --active-chat-tab-bg:#d1e7e8;
  --active-chat-tab-text:#007a67;
  --secondary-brand: #fc5d5b;
  --end-call:#fc5d5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--text);
}

button {
  cursor: pointer;
}

.app {
  width: 100%;
  height: 100%;
}

.c-main {
  display: grid;

  width: 100%;
  height: 100vh;
}











.c-webcam {
  width: 100%;
  height: 100%;
  padding: 0rem;
}

.c-webcam-container {
  width: 100%;
  height: 100%;
  background: var(--chat-you);
  border-radius: 12px;
  position: relative;
}


.c-webcam__video-controls {
  z-index: 2;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.c-webcam__video-controls ul {
  display: flex;
  align-items: center;
}
.c-webcam__video-controls li {
  margin: 0 1rem;
  list-style: none;
}

.c-control {
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  border: 0;
  color: var(--white);
  font-size: 18px;
  position: relative;
  background: transparent;
  overflow: hidden;
}
.c-control:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}
.c-control--end-call {
  width: 70px;
  height: 70px;
  background-color: var(--end-call);
  border-radius: 30px;
  border: 0;
  color: var(--white);
  font-size: 18px;
  box-shadow: rgba(252, 93, 91, 0.7) 0px 7px 29px 0px;
}

#c-stream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.c-join {
  background-color: var(--active-tab);
  box-shadow: rgba(35, 183, 80, 0.7) 0px 7px 29px 0px;
}

@media only screen and (max-width: 1150px) {
  .c-chat {
    display: none;
  }

  .c-main {
    grid-template-columns: 80px 1fr;
  }
}
@media only screen and (max-width: 720px) {
  .c-webcam-inchat img {
    max-width: 50px;
    border-width: 2px;
    border-radius: 100rem;
  }

  .c-video header {
    flex-wrap: wrap;
  }
  .c-video header span {
    margin: 1rem 0;
  }

  .c-video-invited {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .c-main {
    grid-template-columns: 1fr;
  }



  .c-webcam__video-controls {
    left: 1.5rem;
    transform: translateX(0);
    top: 50%;
    transform: translateY(-50%);
  }

  .c-webcam__video-controls ul {
    flex-direction: column;
  }
  .c-webcam__video-controls ul li {
    margin: 10px 0;
  }
}